
<div class="card my-1"> 
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>
    <%= form_with() do |f| %>
      <div class="form-group">
        <%= f.label 'New comment' %>
        <%= f.text_area :commenter, class: 'form-control' %>
      </div><br>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>