<div class="hero">
        <nav>
            
            <div class="container h3">

                <%= link_to "Signup", "/accounts/sign_up", :class => "float-end text-white bg-dark text-decoration-none px-3" %>
            
            <%= link_to "Login", "/accounts/sign_in", :class => "float-end text-white bg-dark text-decoration-none" %>
            
            </div>
        </nav>

        <div class="lamp-container">
            <img src="https://i.postimg.cc/yYz5Nnqw/lamp.png" alt="" class="lamp">
            <img src="https://i.postimg.cc/SxgtDhXh/light.png" alt="" class="light" id="light">
        </div>

        <div class="text-container">
            <h1>Latest <br>  Technologies</h1>
            <p>Learn online classes to master popular programming languages, such as Java, Ruby, C#, PHP, C++, JQuery, and more. Beginner to advanced courses available..</p>
            <a href="">Check All Collections</a>
        </div>
    </div>