
<h2> All Categories</h2>
<br>
<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3>
             <%= link_to category.category, category %>
            </h3>   
          </div>        
        </div>
      </div>
    <% end %>  
  </div>  
</div>
<br>
<%= link_to 'New Category', new_category_path , class: "link" %>